rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null
        && request.auth.token.email_verified == true
        && request.auth.token.email == 'lubomir.zak@gmail.com';
    }
    match /seasonMatches/{document} {
      allow read: if true;
      allow create: if isAdmin()
        && request.resource.data.seasonId == 'winter-2026';
      allow delete: if isAdmin() && resource.data.seasonId == 'winter-2026';
    }
    match /seasonTrainings/{document} {
      allow read: if true;
      allow create: if isAdmin()
        && request.resource.data.seasonId == 'winter-2026';
    }
    match /seasonFines/{document} {
      allow read: if isAdmin() || resource.data.seasonId == 'winter-2026';
      allow create: if isAdmin()
        && request.resource.data.seasonId == 'winter-2026'
        && request.resource.data.paid == false;
      allow update: if isAdmin()
        && resource.data.seasonId == 'winter-2026'
        && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['paid'])
        && request.resource.data.paid is bool;
      allow delete: if isAdmin() && resource.data.seasonId == 'winter-2026';
    }

    match /seasonSubstitutePayments/{document} {
      allow read: if isAdmin();
      allow create: if isAdmin()
        && request.resource.data.keys().hasAll(['playerId', 'trainingId', 'seasonId', 'amount', 'paid', 'created'])
        && request.resource.data.keys().hasOnly(['playerId', 'trainingId', 'seasonId', 'amount', 'paid', 'created'])
        && request.resource.data.playerId is string
        && request.resource.data.trainingId is string
        && request.resource.data.seasonId == 'winter-2026'
        && request.resource.data.amount is number
        && request.resource.data.amount > 0
        && request.resource.data.paid == false
        && request.resource.data.created is int;
      allow update: if isAdmin()
        && resource.data.seasonId == 'winter-2026'
        && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['paid'])
        && request.resource.data.paid is bool;
      allow delete: if isAdmin() && resource.data.seasonId == 'winter-2026';
    }

    match /players/{document} {
      allow read: if true;
      allow create: if isAdmin();
    }
  }
}
