.sidebar {
  border-right: 1px solid var(--mat-sys-outline-variant);
  padding: 16px 8px;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

.logo {
  display: inline-block;
  padding-left: 10px;
  color: var(--mat-sys-primary);
  filter: invert(81%) sepia(51%) saturate(4245%) hue-rotate(128deg) brightness(96%) contrast(101%);
}

.logo-text {
  display: inline-block;
  padding-left: 20px;
  color: var(--mat-sys-primary);
  font-size: 35px;
  vertical-align: bottom;
  height: 55px;
}

.main-content {
  padding: 15px;
}

.top-header {
  padding: 15px;
  color: var(--mat-sys-primary);
  background: var(--mat-sys-primary-container);
}

.common-main-styles {
  background-color: var(--mat-sys-background);
  min-height: 1000px;
  font-family: var(
    --mat-table-header-headline-font,
    var(--mat-sys-title-small-font, Roboto, sans-serif)
  );
}
